*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: antiquewhite;
    font-family: 'Times New Roman';
    text-decoration: none;
}

/*#heading{
    text-align:center;
    font-size:6em;
    background-color: rgba(231,183,83,0.5);
    width: 100vw;
    height:65vh;  
}*/
div{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(pexels-eberhard-grossgasteiger-1287145.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#heading{
    background-color: transparent;
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:black;
    -webkit-text-stroke-width:2px;
}

nav{
    background-color: grey;
}
.linki{
    color:white;
    background-color: rgba(0,0,0,0);
    font-weight: 900;
    font-size:1.5em;
    text-decoration: none;
    margin: 4.5vw;
}

a:hover{
    color:red;
}

h3{
    margin-top: 5vh;
    text-align: center;
}
ul{
    list-style-type:armenian;   
}
li{
    margin-left:1.4em;
}

.omnie{
    font-size: 1.3em;
}
img{
    margin-right:1vw;
    margin-bottom: 1vh;
    width: 25vw;
    float: right;
}
footer{
    text-align:center;
    list-style-position:inside;
}
#ZI{
    background-color:grey;
    display:block;
    font-size:1.3em;
}
h1{
    text-align: center;
}

.col-1 {width: 8.33%};
.col-2 {width: 16.66%};
.col-3 {width: 25%};
.col-4 {width: 33.33%};
.col-5 {width: 41.66%};
.col-6 {width: 50%};
.col-7 {width: 58.33%};
.col-8 {width: 66.66%};
.col-9 {width: 75%};
.col-10 {width: 83.33%};
.col-11 {width: 91.66%};
.col-12 {width: 100%};

@media only screen and (max-width: 450px){
    #heading {
            background-color: transparent;
            font-size: 65px;
            text-align: center;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 2px;
        }
    .linki{
        display:flex;
        margin:0;
    }
    img{
        width:40vw;
    }
}